/* General App styling will go here */

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(20px + 2vmin);
    color: rgb(255, 255, 255);
    text-align: center;
    position: relative;
      text-shadow: 1px 1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,-1px -1px 0 #000;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
  object-fit: cover;
  opacity: 1;
}

.App-header .content {
  position: relative;
  z-index: 1;
}


h2 {
    background-color: #f0f0f0; /* A light gray background */
    color: #333; /* Dark gray text color */
    padding: 15px 20px; /* Adjust padding as needed (top/bottom, left/right) */
    border-left: 5px solid #666; /* A dark gray left border. Adjust color and width as desired. */
    margin: 20px 0; /* Add some margin above/below the heading for spacing */
}

.footer1 {
    background-color: #282c34; /* 背景色を黒に設定 */
    color: #fff; /* テキストの色を白に設定 */
    padding: 20px 0; /* 上下のパディングを設定 */
    text-align: center; /* テキストを中央揃えにする */
    margin-top: auto; /* フッターを一番下に押しやる */
    font-size: small;
    width: 99vw;
    margin: 0 calc(50% - 50vw);
}

.footer1 a:visited {
    color: #B0C4DE; /* やや濃いめの青 (例) */
}

.download-button {
  background-color: #007bff; /* 青色 */
  color: white;              /* 白い文字 */
  padding: 10px 20px;        /* 内側の余白 */
  border: none;              /* 枠線なし */
  border-radius: 999px;      /* 丸角（pill状） */
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;           /* ポインタ表示 */
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: #0056b3; /* ホバー時に少し濃い青 */
}
